# Using SQL to Analyze Housing Data in California
### Joel Trinidad  -  May 2022

In [1]:
# sqlalchemy to connect to database
from sqlalchemy import create_engine
#getpass module to hide user/password data
%load_ext sql

# Connect to AWS RDS instance
%sql mysql+mysqldb://USERNAME:PASSWORD@lmu-dev-03.cojwmxnaw8in.us-east-1.rds.amazonaws.com/redfin_data?charset=utf8

(MySQLdb._exceptions.OperationalError) (1045, "Access denied for user 'USERNAME'@'157.242.192.3' (using password: YES)")
(Background on this error at: https://sqlalche.me/e/14/e3q8)
Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys([])

## PART 1: Exploratory Analysis

##### QUERY 1- What percentage of zipcodes in la county are residential?
##### This info is good for getting context on future queries

In [3]:
%%sql
SELECT 
	100 - FORMAT((((COUNT(*))
	/
	(SELECT COUNT(*)
	FROM city_zip cz 
	WHERE county = 'Los Angeles')))*100, 2) AS percent_residential
FROM city_zip cz2 
LEFT JOIN property_info pi2 
	ON cz2.zip_code = pi2.zip_code 
WHERE cz2.county = 'Los Angeles'
	AND pi2.zip_code IS NULL
;

 * mysql+mysqldb://admin:***@lmu-dev-03.cojwmxnaw8in.us-east-1.rds.amazonaws.com/redfin_data?charset=utf8
1 rows affected.

[(58.65,)]

there are 309 residential zipcodes in LA county: https://file.lacounty.gov/SDSInter/lac/1031552_MasterZipCodes.pdf
this makes up almost 60% of total zipcodes in LAC

##### QUERY 2- Is there a type of zip code we proportionally don't have data for?
##### This is helpful to see if our scraper is failing for a certain type of residential zip code

In [4]:
%%sql
WITH type_count AS (
	SELECT 
		cz.zip_code,
		cz.`type`,
		pi2.med_sale_price
	FROM property_info pi2
	JOIN city_zip cz 
		ON pi2.zip_code = cz.zip_code 
	WHERE med_sale_price IS NULL
),
null_type_count AS (
	SELECT 
		`type`,
		COUNT(*) AS null_count
	FROM type_count
	GROUP BY `type`
),
full_type_count AS (
SELECT 
	`type`,
	COUNT(*) AS filled_count
FROM city_zip cz
GROUP BY `type`
)
	SELECT 
		ft.`type`,
		ft.filled_count,
		nt.null_count
	FROM full_type_count ft
	JOIN null_type_count nt
		ON ft.`type` = nt.`type`
;

 * mysql+mysqldb://admin:***@lmu-dev-03.cojwmxnaw8in.us-east-1.rds.amazonaws.com/redfin_data?charset=utf8
3 rows affected.

[('Standard', 1583, 30), ('P.O. Box', 808, 4), ('Unique', 194, 13)]

"Unique" zip code types seem to be the highest proportion of zip codes that couldn't be scraped.
Zip codes aren't scraped either because they are not residential or because the scraper was not able to get data on it.
It appears as though a higher percentage of nonresidential zip codes could be under the "unique" classification

##### QUERY 3- What percent of scraped zip codes don't have the median sale price?
##### This will show us how effective the redfin webscraper truly is

In [5]:
%%sql
SELECT 
	FORMAT((
	SELECT COUNT(*)
	FROM property_info pi2
	WHERE med_sale_price IS NULL
	) / COUNT(*) * 100, 2) AS unscraped_percentage
FROM property_info pi;

 * mysql+mysqldb://admin:***@lmu-dev-03.cojwmxnaw8in.us-east-1.rds.amazonaws.com/redfin_data?charset=utf8
1 rows affected.

[('15.53',)]

Even though it's over 15%, the lack of data should not greatly impact the final result.
This is because the final reccommendation will be based on cities, which have a collection of zip codes associated to them.

##### QUERY 4- What is the average for median sale price, median days on market, sale-to-list, and redfin score?
##### This will give us a metric to compare future analysis to

In [6]:
%%sql
SELECT 
	AVG(med_sale_price),
	AVG(med_days_market),
	AVG(sale_to_list),
	AVG(redfin_score)
FROM property_info pi2
;

 * mysql+mysqldb://admin:***@lmu-dev-03.cojwmxnaw8in.us-east-1.rds.amazonaws.com/redfin_data?charset=utf8
1 rows affected.

[(Decimal('1005128.9617'), Decimal('39.9808'), Decimal('102.71636'), Decimal('68.1227'))]

The redfin score of 68 is considered moderately high.
The average sale-to-list price shows that on average, houses sell for more than the initial ask price in LA County.
This infers that LA county is in a period of high demand for residential housing.

##### QUERY 5- Where is median sale price null, but other fields aren't?
##### I noticed that sometimes the scraper returned certain values but not others for some of the zip codes.
##### I would like to check and see how prevalent this is

In [7]:
%%sql
WITH binary_count AS (
	SELECT 
		CASE 
			WHEN med_sale_price IS NULL THEN 0 ELSE 1
		END AS msp_bin,
		CASE 
			WHEN yoyChange IS NULL THEN 0 ELSE 1
		END AS yoy_bin,
		CASE 
			WHEN med_days_market IS NULL THEN 0 ELSE 1
		END AS mdm_bin,
		CASE 
			WHEN sale_to_list  IS NULL THEN 0 ELSE 1
		END AS stl_bin,
		CASE 
			WHEN perc_above_list  IS NULL THEN 0 ELSE 1
		END AS pal_bin,
		CASE 
			WHEN redfin_score  IS NULL THEN 0 ELSE 1
		END AS rfs_bin
	FROM property_info pi
)
SELECT COUNT(*)
FROM binary_count
WHERE 
	msp_bin = 0
	AND stl_bin = 1
;

 * mysql+mysqldb://admin:***@lmu-dev-03.cojwmxnaw8in.us-east-1.rds.amazonaws.com/redfin_data?charset=utf8
1 rows affected.

[(16,)]

Out of 309 zipcodes scraped, 16 have this error.
Even though it's worth looking into for the future, the planned analysis can still be conducted using this dataset

# Part 2- Primary Question & Solution
### MAIN QUESTION: Which city in LA County should we expand into?

## PRIMARY QUESTION:
### What city has the highest average redfin score?
The Redfin score is based upon a number of factors and gives a pretty good indication of whether a certain market is "hot". We can take the data scraped from redfin zipcodes and match them to which city they belong in to get average metrics for various aspects of the housing market. This can help us see the data by city and get more of an idea on which city in LA county to expand into.

##### FEATURES USED: GROUP BY, JOIN, VIEW, Window Function

In [9]:
%%sql
DROP VIEW `highest_scores`;

CREATE VIEW `highest_scores` AS 
SELECT
	RANK() OVER(
		PARTITION BY county ORDER BY AVG(redfin_score) DESC
		) AS redfin_rank,
	cz.city,
	AVG(redfin_score) AS avg_redfin_score,
	AVG(med_sale_price) AS avg_med_sale_price
FROM property_info pi
JOIN city_zip cz 
	ON pi.zip_code = cz.zip_code
WHERE cz.county = 'Los Angeles'
GROUP BY cz.city;

SELECT *
FROM highest_scores;

 * mysql+mysqldb://admin:***@lmu-dev-03.cojwmxnaw8in.us-east-1.rds.amazonaws.com/redfin_data?charset=utf8
0 rows affected.
0 rows affected.
128 rows affected.

[(1, 'Stevenson Ranch', Decimal('88.0000'), Decimal('950000.0000')),
 (2, 'Cerritos', Decimal('85.0000'), Decimal('960000.0000')),
 (2, 'Winnetka', Decimal('85.0000'), Decimal('810000.0000')),
 (2, 'San Dimas', Decimal('85.0000'), Decimal('800000.0000')),
 (5, 'Downey', Decimal('84.5000'), Decimal('773250.0000')),
 (6, 'Torrance', Decimal('84.2000'), Decimal('954850.0000')),
 (7, 'Northridge', Decimal('83.5000'), Decimal('893250.0000')),
 (7, 'Canyon Country', Decimal('83.5000'), Decimal('704000.0000')),
 (7, 'Valencia', Decimal('83.5000'), Decimal('750000.0000')),
 (10, 'Pico Rivera', Decimal('83.0000'), Decimal('660000.0000')),
 (10, 'Santa Fe Springs', Decimal('83.0000'), Decimal('690000.0000')),
 (10, 'Lakewood', Decimal('83.0000'), Decimal('763333.3333')),
 (10, 'La Puente', Decimal('83.0000'), Decimal('661750.0000')),
 (14, 'La Mirada', Decimal('82.0000'), Decimal('795000.0000')),
 (14, 'Montrose', Decimal('82.0000'), Decimal('889500.0000')),
 (14, 'Sierra Madre', Decimal('82.0000'), Decimal('1300000.0000')),
 (14, 'San Fernando', Decimal('82.0000'), Decimal('690000.0000')),
 (14, 'Rowland Heights', Decimal('82.0000'), Decimal('882500.0000')),
 (19, 'San Gabriel', Decimal('81.5000'), Decimal('1024500.0000')),
 (20, 'La Crescenta', Decimal('81.0000'), Decimal('1090000.0000')),
 (21, 'Redondo Beach', Decimal('80.5000'), Decimal('1404500.0000')),
 (22, 'South Pasadena', Decimal('80.0000'), Decimal('1550000.0000')),
 (22, 'Granada Hills', Decimal('80.0000'), Decimal('955000.0000')),
 (24, 'West Covina', Decimal('79.6667'), Decimal('789500.0000')),
 (25, 'Hawaiian Gardens', Decimal('79.0000'), Decimal('425000.0000')),
 (25, 'Carson', Decimal('79.0000'), Decimal('745000.0000')),
 (25, 'Reseda', Decimal('79.0000'), Decimal('750000.0000')),
 (25, 'Hacienda Heights', Decimal('79.0000'), Decimal('855000.0000')),
 (29, 'Lynwood', Decimal('78.0000'), None),
 (29, 'Bellflower', Decimal('78.0000'), Decimal('687500.0000')),
 (29, 'Mission Hills', Decimal('78.0000'), Decimal('721000.0000')),
 (29, 'Woodland Hills', Decimal('78.0000'), Decimal('1146250.0000')),
 (29, 'Baldwin Park', Decimal('78.0000'), None),
 (29, 'Claremont', Decimal('78.0000'), Decimal('895000.0000')),
 (35, 'Whittier', Decimal('77.0000'), Decimal('782791.6667')),
 (35, 'Norwalk', Decimal('77.0000'), None),
 (35, 'Duarte', Decimal('77.0000'), Decimal('680000.0000')),
 (35, 'Agoura Hills', Decimal('77.0000'), Decimal('1128500.0000')),
 (35, 'Canoga Park', Decimal('77.0000'), Decimal('755000.0000')),
 (35, 'North Hills', Decimal('77.0000'), Decimal('840000.0000')),
 (35, 'Panorama City', Decimal('77.0000'), Decimal('567500.0000')),
 (42, 'Gardena', Decimal('76.6667'), Decimal('753333.3333')),
 (42, 'Covina', Decimal('76.6667'), Decimal('752166.6667')),
 (44, 'Palmdale', Decimal('76.2500'), Decimal('451500.0000')),
 (45, 'Rancho Palos Verdes', Decimal('76.0000'), Decimal('1609000.0000')),
 (45, 'Diamond Bar', Decimal('76.0000'), Decimal('866500.0000')),
 (47, 'Glendale', Decimal('75.6250'), Decimal('1046916.6667')),
 (48, 'Hawthorne', Decimal('75.0000'), Decimal('875000.0000')),
 (48, 'Montebello', Decimal('75.0000'), Decimal('710000.0000')),
 (48, 'San Pedro', Decimal('75.0000'), Decimal('749500.0000')),
 (48, 'Castaic', Decimal('75.0000'), Decimal('725000.0000')),
 (48, 'Studio City', Decimal('75.0000'), Decimal('1375000.0000')),
 (48, 'Azusa', Decimal('75.0000'), Decimal('635000.0000')),
 (48, 'Glendora', Decimal('75.0000'), Decimal('831250.0000')),
 (48, 'Monterey Park', Decimal('75.0000'), Decimal('915500.0000')),
 (56, 'Pomona', Decimal('74.6667'), Decimal('617333.3333')),
 (57, 'Van Nuys', Decimal('74.5000'), Decimal('890666.6667')),
 (58, 'Lomita', Decimal('74.0000'), Decimal('866250.0000')),
 (58, 'Sunland', Decimal('74.0000'), Decimal('950000.0000')),
 (58, 'Porter Ranch', Decimal('74.0000'), Decimal('1149000.0000')),
 (58, 'Pacoima', Decimal('74.0000'), None),
 (58, 'Temple City', Decimal('74.0000'), Decimal('1070000.0000')),
 (58, 'Walnut', Decimal('74.0000'), Decimal('1065000.0000')),
 (64, 'Long Beach', Decimal('73.9091'), Decimal('799840.9091')),
 (65, 'Encino', Decimal('73.5000'), Decimal('1673625.0000')),
 (65, 'North Hollywood', Decimal('73.5000'), Decimal('846875.0000')),
 (67, 'Burbank', Decimal('73.2000'), Decimal('1079300.0000')),
 (68, 'Artesia', Decimal('73.0000'), Decimal('626250.0000')),
 (68, 'La Canada Flintridge', Decimal('73.0000'), Decimal('2382500.0000')),
 (68, 'Monrovia', Decimal('73.0000'), Decimal('1105000.0000')),
 (68, 'Tujunga', Decimal('73.0000'), Decimal('896500.0000')),
 (68, 'Chatsworth', Decimal('73.0000'), Decimal('830000.0000')),
 (68, 'Newhall', Decimal('73.0000'), Decimal('713000.0000')),
 (68, 'Sylmar', Decimal('73.0000'), Decimal('690000.0000')),
 (68, 'Tarzana', Decimal('73.0000'), Decimal('957500.0000')),
 (68, 'Valley Village', Decimal('73.0000'), Decimal('1120000.0000')),
 (77, 'Harbor City', Decimal('72.0000'), Decimal('700000.0000')),
 (77, 'Paramount', Decimal('72.0000'), Decimal('600000.0000')),
 (79, 'Alhambra', Decimal('71.5000'), Decimal('824250.0000')),
 (80, 'Wilmington', Decimal('71.0000'), Decimal('668500.0000')),
 (80, 'Lancaster', Decimal('71.0000'), Decimal('433166.6667')),
 (82, 'Santa Clarita', Decimal('70.3333'), Decimal('998750.0000')),
 (83, 'Palos Verdes Peninsula', Decimal('70.0000'), Decimal('2644000.0000')),
 (83, 'Pearblossom', Decimal('70.0000'), Decimal('335000.0000')),
 (85, 'Pasadena', Decimal('69.6667'), Decimal('1098350.0000')),
 (86, 'Sherman Oaks', Decimal('69.5000'), Decimal('1452125.0000')),
 (87, 'Sun Valley', Decimal('69.0000'), Decimal('675000.0000')),
 (87, 'Rosemead', Decimal('69.0000'), Decimal('835000.0000')),
 (87, 'Littlerock', Decimal('69.0000'), Decimal('437000.0000')),
 (90, 'Compton', Decimal('68.6667'), Decimal('581250.0000')),
 (91, 'Lawndale', Decimal('67.0000'), Decimal('750000.0000')),
 (92, 'Playa Vista', Decimal('66.0000'), Decimal('1080000.0000')),
 (92, 'Signal Hill', Decimal('66.0000'), Decimal('701000.0000')),
 (92, 'Calabasas', Decimal('66.0000'), Decimal('1715000.0000')),
 (92, 'South El Monte', Decimal('66.0000'), Decimal('711690.0000')),
 (96, 'Maywood', Decimal('65.0000'), Decimal('575000.0000')),
 (96, 'South Gate', Decimal('65.0000'), Decimal('627000.0000')),
 (98, 'El Monte', Decimal('64.5000'), Decimal('662000.0000')),
 (99, 'Culver City', Decimal('64.0000'), Decimal('1225000.0000')),
 (99, 'San Marino', Decimal('64.0000'), Decimal('2502500.0000')),
 (99, 'La Verne', Decimal('64.0000'), None),
 (102, 'Huntington Park', Decimal('63.0000'), Decimal('600000.0000')),
 (103, 'Manhattan Beach', Decimal('61.0000'), Decimal('3149000.0000')),
 (104, 'El Segundo', Decimal('60.0000'), Decimal('1272500.0000')),
 (105, 'Inglewood', Decimal('59.0000'), Decimal('745000.0000')),
 (105, 'West Hills', Decimal('59.0000'), Decimal('1000000.0000')),
 (107, 'Hermosa Beach', Decimal('56.0000'), Decimal('2475000.0000')),
 (107, 'Altadena', Decimal('56.0000'), Decimal('1217500.0000')),
 (109, 'Lake Hughes', Decimal('55.0000'), Decimal('412500.0000')),
 (110, 'Los Angeles', Decimal('53.7414'), Decimal('1079190.9091')),
 (111, 'Santa Monica', Decimal('53.5000'), Decimal('1720375.0000')),
 (112, 'Bell Gardens', Decimal('52.0000'), Decimal('722500.0000')),
 (113, 'Marina Del Rey', Decimal('51.0000'), Decimal('1170000.0000')),
 (114, 'Playa Del Rey', Decimal('50.0000'), Decimal('765000.0000')),
 (114, 'Arcadia', Decimal('50.0000'), Decimal('1414750.0000')),
 (116, 'Beverly Hills', Decimal('48.0000'), Decimal('2467500.0000')),
 (116, 'Topanga', Decimal('48.0000'), Decimal('1725000.0000')),
 (118, 'West Hollywood', Decimal('43.0000'), Decimal('1283500.0000')),
 (119, 'Acton', Decimal('42.0000'), Decimal('879750.0000')),
 (120, 'Pacific Palisades', Decimal('37.0000'), Decimal('3760000.0000')),
 (121, 'Venice', Decimal('32.0000'), Decimal('2185000.0000')),
 (122, 'Malibu', Decimal('27.0000'), Decimal('3700000.0000')),
 (123, 'Avalon', Decimal('14.0000'), Decimal('861000.0000')),
 (124, 'Mount Wilson', None, None),
 (124, 'Verdugo City', None, None),
 (124, 'Universal City', None, None),
 (124, 'Llano', None, None),
 (124, 'Valyermo', None, None)]

#### Insights
The highest average redfin score is 88, which is very high. Additionally, out of the top 10 cities there's only a 5-point difference in average redfin score. It might be best to look at some of the least expensive options out of these different cities.

### SECONDARY QUESTION 1:
#### Are there any zip codes with a negative yoy change for 2022? What city are they in?
It's possible that some of the zip codes might have a lower median sale price. This could indicate that the housing market in these areas is slowing down, and we wouldn't want to expand into those cities. We could also use this query to see if there are a significant amount of zip codes with a negative year-over-year change.
##### Features used: CTE, CASE

In [10]:
%%sql
WITH negchange AS (
	SELECT
		zip_code,
		yoyChange,
		CASE 
			WHEN yoyChange < 0 THEN 1 ELSE 0
		END AS neg_yoychange
	FROM property_info pi2 
)
SELECT
	nc.zip_code,
	city,
	yoyChange
FROM negchange nc
JOIN city_zip cz 
	ON nc.zip_code = cz.zip_code 
WHERE neg_yoychange = 1
GROUP BY nc.zip_code ;

 * mysql+mysqldb://admin:***@lmu-dev-03.cojwmxnaw8in.us-east-1.rds.amazonaws.com/redfin_data?charset=utf8
17 rows affected.

[('90013', 'Los Angeles', Decimal('-7.50')),
 ('90025', 'Los Angeles', Decimal('-1.50')),
 ('90035', 'Los Angeles', Decimal('-20.50')),
 ('90048', 'Los Angeles', Decimal('-0.28')),
 ('90056', 'Los Angeles', Decimal('-7.50')),
 ('90094', 'Playa Vista', Decimal('-4.00')),
 ('90230', 'Culver City', Decimal('-4.90')),
 ('90245', 'El Segundo', Decimal('-16.80')),
 ('90270', 'Maywood', Decimal('-11.00')),
 ('90292', 'Marina Del Rey', Decimal('-4.60')),
 ('90305', 'Inglewood', Decimal('-3.60')),
 ('90701', 'Artesia', Decimal('-10.90')),
 ('90716', 'Hawaiian Gardens', Decimal('-6.60')),
 ('91302', 'Calabasas', Decimal('-5.60')),
 ('91325', 'Northridge', Decimal('-4.20')),
 ('91352', 'Sun Valley', Decimal('-5.60')),
 ('91602', 'North Hollywood', Decimal('-5.50'))]

##### Insights
There aren't a significant amount of zip codes with a negative yoy change. Even better, none of the negative growth zip codes are in any of the top 10 cities.

### SECONDARY QUESTION 2:

#### Looks like La Puente, Pico Rivera, and Santa Fe Springs are the only top 10 cities with average median sale prices under 700k.
#### How do they look in terms of percent sold above list, the sale to list ratio, and median days on market?

La Puente, Pico Rivera, and Santa Fe Springs are the top candidates for expansion based on the previous queries. We already know that their median sale price lies somewhere in the 650k-690k range. It would be helpful to get an idea of how they compare to each other in terms of the other metrics, like percentage sold over list, average sale-to-list, and median days houses in these cities stay on market.
##### Features used: Subquery

In [11]:
%%sql
SELECT 
	cz.zip_code,
	cz.city,
	pi2.perc_above_list,
	pi2.sale_to_list,
	pi2.med_days_market
FROM (
	SELECT 
		city,
		pi2.zip_code
	FROM property_info pi2 
	JOIN city_zip cz 
		ON pi2.zip_code = cz.zip_code
	WHERE city = 'La Puente'
		OR city = 'Pico Rivera'
		OR city = 'Santa Fe Springs'
) AS cz -- shows all of the zip codes and what city they belong to
JOIN property_info pi2 
ON cz.zip_code = pi2.zip_code
;

 * mysql+mysqldb://admin:***@lmu-dev-03.cojwmxnaw8in.us-east-1.rds.amazonaws.com/redfin_data?charset=utf8
4 rows affected.

[('90660', 'Pico Rivera', Decimal('68.8'), Decimal('105.0'), 18),
 ('90670', 'Santa Fe Springs', Decimal('81.8'), Decimal('104.0'), 28),
 ('91744', 'La Puente', Decimal('74.7'), Decimal('104.7'), 27),
 ('91746', 'La Puente', Decimal('64.9'), Decimal('103.8'), 24)]

##### Insights
Pico Rivera seems to be the best choice for what city to expand into. Even though the percent of houses sold above the list price isn't as high as the others, this means that a business expanding into this city won't have to pay as high prices in comparison. Median days on market is also the shortest here, meaning the business will have the shortest turnaround when entering the market. 

One thing to note though is that there are very few zip codes associated with this city. It could mean that they are smaller towns, or that the scraper was not able to scrape property data from every zip code in each city.